body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

/** reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

h1, h, h3, h4, h5, h6, p{
    margin: 0;
}

/** common */
img {
    display: block;
    max-width: 100%;
}

.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/** header */

.page-header{
border-bottom: 1px solid #e7e9fc;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    align-items: center;
}

.header-logo{
padding: 24px 0;
margin-right: 76px;    
}

.header-nav{
    display: flex;
    align-items: center;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo .part-logo {
    color: #2e2f42;
}

.nav-list{
display: flex;
align-items: center;
gap: 40px;
}

.nav-link{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current{
    position: relative;
}

.nav-link.current::after{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
}

.contacts{
    font-style: normal;
    margin-left: auto;
}

.contacts-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link{
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current{
    color: #404bbf
}

/** hero */

.hero{
    max-width: 1440px;
    background-color: #2e2f42;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    align-items: stretch;
    padding: 188px 0;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
    
}

.hero-title{
    margin: auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
}

.hero-button{
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.hero-button:hover,
.hero-button:focus{
    background: #404bbf;
}

 /** benefits  */

.benefits{
    padding: 120px 0;
    margin: 0 auto;
}

.subtitle-conteiner{
    display: flex;
    gap: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.subtitle-list{
    flex-basis: calc((100% - 72px) / 4);
   }

.benefits-icon{
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}


   .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team{
    background: #f4f4fd;
    padding: 120px 0;
    }

.list-team{
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}

.conteiner-team-list{
    display: flex;
    gap: 24px;
}

.team-card{
    padding: 32px 0;
}

.team-name{
    text-align: center;
    }

.team-prof{
text-align: center;
margin-bottom: 8px;
}
.team-list-soc{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-media,
.social-list-item{
    width: 40px;
    height: 40px;
}

.team-link,
.social-link{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.team-link:hover,
.team-link:focus{
    background-color: #404bbf;    
    }

.team-link-icon{
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
    }

/** portfolio */

.portfolio{
padding: 120px 0;
}

.conteiner-portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.list-portfolio{
    flex-basis: calc((100% - 48px) / 3);
    background-color: #fff;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb{
position: relative;
overflow: hidden;
}

.list-portfolio:hover .overlay{
transform: translateY(0);
}

.list-portfolio:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
   
}

.overlay{
    position: absolute; 
    top: 0;
    left: 0;
    background-color: #4d5ae5;
    color: #f4f4fd;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms 
        cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card{
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

/** footer */
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.container-footer{
    display: flex;
    align-items: baseline;
}

.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
}

.logo-common{
margin-right: 120px;
}   

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-logo .part-logo {
    color: #f4f4fd;
}

.social-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}    

.social-media-title,
.subscribe-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.social-link:hover,
.social-link:focus{
    background-color: #31d0aa;
}

.social-link-icon{
    width: 24px;
    height: 24px;
    stroke: #31d0aa;
    fill: white;
}

.subscribe{
    display: flex;
    margin-left: auto;
    flex-direction: column;
    }

.subscribe-form{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

    
.subsc-input{
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.subsc-input::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    }


.subsc-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;     
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    }

.subsc-btn:hover,
.subsc-btn:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #404bbf;
    }

.subsc-icon{
    fill: white;
    margin-left: 16px;    
}

/** modal window */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
    
}

.backdrop:not(.is-open) .modal{
    transform: translate(-50%, -10%);
}

.close-modal-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    stroke-width: 1px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);         
}

.close-modal-btn:hover,
.close-modal-btn:focus{
    background-color: #404bbf;
    border: none;
    stroke: #fff;
    fill: white;
}

.modal-btn-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon{
    fill: #ffffff;
}

.modal-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form{
    display: block;
    width: 100%;
}

.modal-group{
    position: relative;
    display: block;
    margin-bottom: 8px;
}

.modal-container{
    position: relative;
    margin-bottom: 8px;
}

.modal-lbl {
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 24px;
    fill: #2e2f42;
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
     padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
    border-color: #4d5ae5;
}

.modal-input:focus ~ .modal-icon{
    fill: #4D5AE5;
}

.modal-container-textarea{
    width: 100%;
    margin-bottom: 16px;
}

.modal-textarea{
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #4d5ae5;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus{
    border-color: #4d5ae5;
}
.checkbox{
    margin-bottom: 24px;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.chek-lbl{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.custom-check{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    background-color: transparent;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden:checked + .chek-lbl > .custom-check{
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}


.privacy-link{
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-textarea::placeholder{
    text-align: left;
    }

.submit-btn{
    display: block;
    margin: 24px auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border: none;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}